[Unit]
Description=Generate Kata appliance image for host kernel

[Service]
Type=oneshot
ExecStart=/usr/libexec/kata-containers/fedora-kata-osbuilder.sh
ExecReload=/usr/libexec/kata-containers/fedora-kata-osbuilder.sh regenerate

[Install]
WantedBy=multi-user.target
